@charset "UTF-8";
/* Mixins */
/* Variables */
/* Général */
body {
  width: 90%;
  font-family: "roboto", sans-serif;
  margin-left: 4%;
  max-width: 1400px;
}
@media all and (max-width: 992px) {
  body {
    max-width: 992px;
    width: 100%;
    margin-left: 0%;
  }
}

h1 {
  font-family: "shrikhand", sans-serif;
}

h2, h3 {
  font-weight: 900;
  margin-top: 2%;
  font-family: "roboto", sans-serif;
}

h4 {
  font-family: "roboto", sans-serif;
  font-weight: normal;
}

/*Pied de page*/
footer {
  background-color: #353535;
  color: white;
  font-weight: 100;
  padding: 2%;
}
@media all and (max-width: 768px) {
  footer {
    height: 216px;
  }
}
footer h1 {
  font-size: 25px;
  margin-top: 0%;
}
@media all and (max-width: 768px) {
  footer h1 {
    font-size: 18px;
    margin-left: 5%;
    margin-top: 5%;
  }
}
footer ul {
  list-style-type: none;
  display: flex;
}
@media all and (max-width: 992px) {
  footer ul {
    flex-direction: column;
  }
}
@media all and (max-width: 768px) {
  footer ul {
    margin-left: -6%;
  }
}
footer li {
  padding-top: 1%;
  margin-left: 10%;
}
@media all and (max-width: 992px) {
  footer li {
    margin-left: 0%;
  }
}
@media all and (max-width: 768px) {
  footer li {
    padding-bottom: 1%;
  }
}
footer a {
  text-decoration: none;
  color: white;
}
footer i::before {
  margin-right: 7px;
  width: 15px;
  display: block;
}

/* Animation de chargement de la page */
.chargement {
  background-color: white;
  position: fixed;
  z-index: 1;
  inset: 0;
  width: 100%;
  animation: load 3s forwards;
  transform-origin: center;
}
.chargement::after {
  content: "Chargement...";
  background: linear-gradient(30deg, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  font: 1.5em "shrikhand";
  position: absolute;
  margin: 27% 0 0 42%;
}
@media all and (max-width: 768px) {
  .chargement::after {
    margin: 80% 0% 0% 30%;
  }
}

@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* Animation des coeurs */
.fa-heart:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  transform: scale(1.2);
  animation: fill 2s ease-out;
  font-weight: bold;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Confirmation */
.confirmation {
  position: absolute;
  background-color: #99E2D0;
  width: 73px;
  height: 73px;
  border-radius: 15px 0 0 15px;
  transform-origin: right;
  visibility: hidden;
  transition: confirmation 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin-top: -7px;
  margin-left: 30%;
  text-overflow: ellipsis;
}
.confirmation i {
  position: relative;
  color: white;
  font-size: 30px;
  top: 21px;
  left: 21px;
}

@keyframes confirmation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
/* Apparition progressive des plats */
.entree {
  animation: apparition 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.plat {
  animation: apparition 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dessert {
  animation: apparition 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes apparition {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=animations.css.map */
