@import "base";

/* En tete */
header, form 
{
    margin-top: 4%;
    text-align: center;
    
    @media all and (max-width: 768px)
    {
        height: 40px;
    }

}

header img
{
    width: 25%;
    @media all and (max-width: 768px)
    {
        width: 40%;
        padding-top: 1%;
    }
}

form
{
    width: 40%;
    background-color: #eaeaea;
    margin-left: 30%;
    height: 50px;
    padding-left: 2%;
    margin-top: 2%;

    @media all and (max-width: 992px)
        {
            height: 40px;
            width: 100%;
            margin-left: 0%;
            padding-left: 0%;
        }

    @media all and (max-width: 768px)
        {
            padding-left: 15%;
            width: 85%;
            box-shadow: inset 0px 2px 2px #c9c9c9;
        }

        ::placeholder
        {
            color: black;
            opacity: 1;
        }

            input
            {
                margin: 3% 0 0 2%;
                background-color: transparent;
                border-color: transparent;

                @media all and (max-width: 992px)
                {
                    margin-top: 1%;
                }
                @media all and (max-width: 768px)
                {
                    margin-top: 2%;
                }
            }
}

/* Réservation */
button 
{
    width: 22%;
    height: 45px;
    @include btn-degrade;
    @include ombres;
    @media all and (max-width: 992px)
    {
        width: 25%;
    }

    @media all and (max-width: 768px)
        {
            width: 57%;
        }

            a
            {
                text-decoration: none;
                font-style: normal;
                color: white;
            }
}

.reservation
{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media all and (max-width: 992px)
        {
            background-color: $clr-fond;
            padding-bottom: 3%;
        }
    @media all and (max-width: 768px)
        {
            height: 237px;
            padding: 8% 0% 0% 2%;
            text-align: center;
        }

            p
            {
                font-weight: 300;
                
                @media all and (max-width: 768px)
                {
                    margin: -2% 3% 7% 0%;
                }  
            }

                h2
                {
                    @media all and (max-width: 768px)
                    {
                        padding: 0% 12% 0% 12%;
                    }
                }
}

/*Fonctionnement*/
.fonctionnement
{
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin-top: 2%;
    @media all and (max-width: 992px)
        {
            flex-direction: column;
            padding-bottom: 2%;
        }

        @media all and (max-width: 768px)
        {
            height: 395px;
        }

    .cartes
    {
        margin-left: 4%; 
        background-color:$clr-fond;
        border-radius: 20px;
        position: relative;
        display: flex;
        align-items: center;
        width: 250px;
        height: 60px;
        padding-left: 2%;
        @include ombres;

        @media all and (max-width: 992px)
        {
            margin-top: 2%;
        }
        @media all and (max-width:768px)
        {
            width: 320px;
            height: 70px;
            margin-bottom: 3%;
        }
    }
            i
            {
                padding-right: 5%;
                color: grey;
                font-size: 18px;

                @media all and (max-width:768px)
                {
                    padding: 0% 7% 1% 8%;
                }
            }

                p
                {
                    position: absolute;
                    left: -4%;
                    background-color: $clr-primaire;
                    color: white;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }       
                    :hover
                {
                    background-color: lighten($color: $clr-primaire, $amount: 35);
                }
                    & i:hover
                    {
                        color: $clr-primaire;
                    }

                        h2
                        {
                            @media all and (max-width: 992px)
                            {
                                margin-left: -77%;
                            }
                            @media all and (max-width: 768px)
                            {
                            text-align: start;
                            margin-left: -46%;
                            padding-top: 8%;
                            }
                        }
}

/*Restaurants*/
.restaurants
{
    background-color:$clr-fond ;
    height: 375px;
    @media all and (max-width: 992px)
    {
        height: 1116px;
    }

    @media all and (max-width: 768px)
    {
        height: 1145px;
    }

        a
        {
            text-decoration: none;
            color: black;
        }
            div
            {
                display: flex;
                flex-wrap: wrap;
                @media all and (max-width: 992px)
                {
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 2%;
                }
            }

                h2
                {
                    padding: 2% 2% 3% 2%;

                    @media all and (max-width: 768px)
                    {
                        margin: 0% 0% 3% 4%;
                        padding-top: 12%;
                    } 
                }

                    .details-restaurants
                    {
                        background-color: white;
                        border-radius: 15px;  
                        height: 220px;
                        width: 22%;
                        display: block;
                        position: relative;
                        margin: -1% -1% 3% 3%;
                        @include ombres;

                        @media all and (max-width: 992px)
                        {
                            width: 40%;
                        }

                        @media all and (max-width: 768px)
                        {
                            width:90%;
                            margin-left: -1%;
                            height: 235px;
                            margin-bottom: 6%;
                        }
                    }

                        img
                        {
                            border-radius: 15px 15px 0 0;
                            width:100%;
                            height: 70%;
                            object-fit: cover;
                            object-position: 0% 100%;
                        }

                            .encart
                            {
                                background-color: $clr-tertiaire;
                                color: darken($clr-tertiaire,40);
                                border-radius: 2px;
                                position: absolute;
                                top: 5%;
                                right: 4%;
                                padding: 2% 4%;
                                font-weight: 500;
                            }

                                h3, p
                                {
                                    margin-left: 2%;

                                    @media all and (max-width: 768px)
                                    {
                                        margin-left: 4%;
                                        margin-top: 3%;
                                    }
                                }
                                    i
                                    {
                                        position: absolute;
                                        bottom: 14%;
                                        left: 85%;
                                        font-size: 20px;
                                    }

                                        p
                                        {
                                            margin-top: -4%;
                                        }
                                            ::before
                                            {
                                                display: flex;
                                                flex-wrap: wrap;
                                                font-size: 25px;
                                            }
}

