@import "base";

/* Chargement */

.chargement
{
    background-color: white;
    position: fixed;
    z-index: 1;
    inset: 0;
    width: 100%;
    animation: load 3s forwards;
    transform-origin: center;

    &::after
    {
        content: "Chargement...";
        background: linear-gradient(30deg, $clr-secondaire, $clr-primaire);
        background-clip: text;
        color: transparent;
        font: 1.5em 'shrikhand';
        position: absolute;
        margin: 27% 0 0 42%;
    }

}

@keyframes load 
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
        visibility: hidden;
    }
}

/* Restaurants */
.fa-heart:hover
{
    background-image: linear-gradient($clr-primaire, $clr-secondaire);
    color: transparent;
    background-clip: text;
    transform: scale(1.2);
    animation: fill 2s ease-out;
    font-weight: bold;
}

@keyframes fill
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

/* Boutons */
