@import "base";

/* Animation de chargement de la page */

.chargement
{
    background-color: white;
    position: fixed;
    z-index: 1;
    inset: 0;
    width: 100%;
    animation: load 3s forwards;
    transform-origin: center;

    &::after
    {
        content: "Chargement...";
        background: linear-gradient(30deg, $clr-secondaire, $clr-primaire);
        background-clip: text;
        -webkit-background-clip : text;
        color: transparent;
        font: 1.5em 'shrikhand';
        position: absolute;
        margin: 27% 0 0 42%;

        @media all and (max-width:768px)
        {
            margin: 80% 0% 0% 30%;
        }
    }

}

@keyframes load 
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
        visibility: hidden;
    }
}

/* Animation des coeurs */
.fa-heart:hover
{
    background-image: linear-gradient($clr-primaire, $clr-secondaire);
    color: transparent;
    background-clip: text;
    -webkit-background-clip : text;
    transform: scale(1.2);
    animation: coeur 2s ease-out;
    font-weight: bold;
}

@keyframes coeur
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

/* Animation selection d'un plat */

.confirmation
{
    position: absolute;
    display: block;
    background-color: $clr-tertiaire;
    width: 73px;
    height: 73px;
    border-radius: 0 15px 15px 0;
    margin-top: -58px;
    margin-left: 105%;
    visibility: hidden;
    transform-origin: right;
    transition: confirmation 2s cubic-bezier(0.455, 0.030, 0.515, 0.955);

        i
        {
            position: relative;
            color: white;
            font-size: 30px;
            top: 21px;
            left: 21px;
            transition: check 2s ease-in-out both;
        }
}

.menu-details:hover
        {
            width: 87%;

            .confirmation
            {
                margin-left: 83%;
                margin-top: -20%;
                visibility: visible;
            }

        }


@keyframes confirmation 
{
    0% {
            transform: translateX(0);
        }

    100% {
            transform: translateX(-100px);
            visibility: visible;
    }
}

@keyframes check 
{
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
  
/* Apparition progressive des plats */
.entree
{
    animation: apparition 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.plat
{
    animation: apparition 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.dessert
{
    animation: apparition 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes apparition 
{
    0% 
    {
        transform: translateY(-100px);
    }
      
    100% 
    {
        transform: translateY(0px);
    }
}

/* Eclaircissement des boutons */
button:hover
{
    opacity: 0.8;
    box-shadow: 0 5px 10px #171717; 
}