/* Mixins */
@mixin ombres 
{
    box-shadow: 0 5px 10px #c6c6c6;    
}

@mixin btn-degrade 
{
    background: linear-gradient(174deg,$clr-secondaire 0%, $clr-primaire 90%);
    border-radius: 20px;
    border: 0 solid transparent;
    color: white;
}

/* Variables */
$clr-primaire:#9356DC;
$clr-secondaire: #FF79DA;
$clr-tertiaire: #99E2D0;
$clr-fond:#f6f6f6;

/* Général */
body
{
    width: 90%;
    font-family: 'roboto', sans-serif;
    margin-left: 4%;
}

h1
{
    font-family: 'shrikhand', sans-serif;
}

h2, h3
{
    font-weight: 900;
    margin-top: 2%;
    font-family: 'roboto', sans-serif;
}

h4
{
    font-family: 'roboto', sans-serif;
    font-weight: normal;
}

/*Pied de page*/
footer
{
    background-color: #353535;
    color: white;
    font-weight: 100;
    padding: 2%;

        h1
        {
            font-size: 25px;
            margin-top: 0%;
        }

            ul
            {
                list-style-type: none;
            }
            
                li
                {
                    padding-top:1% ;
                    margin-left: -3%;
                }

                    a
                    {
                        text-decoration: none;
                        color: white;
                    }
}
