@import "base";

/* En-tête */

header
{
    display: flex;
    align-items: center;
    margin: 2%;

    @media all and (max-width: 768px)
    {
        height: 45px;
    }
    
    img 
    {
        padding-left: 40%;

        @media all and (max-width: 768px)
        {
            padding-left: 24%;
            width: 42%;  
        }
    }
            i::before
            {
                margin-left: 70%;
            }
}

/* Menu */
main
{
    img
    {
        width: 90%;
        position: absolute;
        height: 500px;
        object-fit: cover;
        object-position: bottom;

        @media all and (max-width: 992px)
            {
                width: 100%;
            }


        @media all and (max-width: 768px)
            {
                object-fit: scale-down;
                height: auto;
            }
    }

        section 
        {
            background-color: $clr-fond;
            border-radius: 60px 60px 0 0;
            height: auto;
            position: relative;
            top: 355px;
            padding: 2%;
            
            @media all and (max-width: 768px)
            {
                top: 201px;
                padding: 5%;
            }
        }

            h1
            {
                display: flex;
                justify-content: space-between;

                @media all and (max-width: 768px)
                {
                    font-size: 26px;
                    margin-right: 4%;
                }
            }

                h4 
                {
                    border-bottom: 3px solid #99e2d0;
                    width: 11%;
                    padding-bottom: 1%;
                    margin: 4% 56% 0% 3%;
                }   

                    .menu
                    {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin-right: 2%;

                        @media all and (max-width: 768px)
                        {
                            flex-direction: column;
                        }
                    }

                        .entree, .plat, .dessert
                        {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 30%;
                            
                            @media all and (max-width: 768px)
                            {
                                width: 100%;
                                margin-left: -6%;
                                margin-top: 6%;
                            }
                        }

                                .menu-details
                                {
                                    background-color: white;
                                    border-radius: 15px;
                                    width: 105%;
                                    padding: 2% 0% 2% 2%;
                                    margin-top: 3%;
                                    margin-right: 2%;
                                    display: flex;
                                    flex-direction: column;
                                    white-space: nowrap;
                                    @include ombres;

                                    @media all and (max-width: 768px)
                                    {
                                        margin-top: 4%;
                                        height: 60px;
                                    }
                                }

                                            h3
                                            {
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                            }

                                                p 
                                                {
                                                    margin-top: -1%;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    width: 80%;

                                                    @media all and (max-width:768px)
                                                    {
                                                        margin-top: -4%;
                                                    }
                                                }

                                                    b
                                                    {
                                                        display: flex;
                                                        justify-content: flex-end;
                                                        padding-right: 2%;
                                                        margin-top: -10%;

                                                        @media all and (max-width:768px)
                                                        {
                                                            padding-right: 5%;
                                                        }
                                                    }

                                                        button
                                                        {
                                                            margin-top: 2%;
                                                            width: 22%;
                                                            height: 45px;
                                                            margin-left: 39%;
                                                            cursor: pointer;
                                                            @include btn-degrade;

                                                            @media all and (max-width: 768px)
                                                            {
                                                                width: 56%;
                                                                margin-top: 10%;
                                                                margin-left: 23%;
                                                            }
                                                    }
}

/* Pied de Page */
footer
{
    position: relative;
    top: 355px;

    @media all and (max-width: 768px)
    {
        top: 201px;
        width: 96%;

            i::before
            {
                margin-right: 7px;
                width: 15px;
                display: block;
            }
    }
}